/* start styling för kassa sida */
/* mobil */
@media (max-width: 884px){

    .checkOut{
      height: 90vh;
      display: flex;
      align-items: center;
      justify-content: center;
      //background-color: #222;
    
      &--container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 30rem;
        border: 1px solid black;
      }
    }      
      .orderSummary{
        display: none;
      }
    
    
        .shippingInformation{
          display: flex;
          align-items: center;
          flex-direction: column;
          height: 100%;

          //style för radio buttons
          &--supplier{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            margin: 1rem;
            padding: 1rem;
            //width:10rem;
            //height: 5rem;
            border: 1px solid black;
            border-radius: 20px;
          }
        }    
          
          .accountInformation{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 1rem;
            padding: 1rem;
            //width: 10rem;
            //height: 5rem;
            border: 1px solid black;
            border-radius: 20px;
    
            &--inputAcount{
              width: 10rem;
              border: 1px solid black;
              margin: 0.5rem;
            }
          }
        
          
            .payMethod{
              display: flex;
    
              &--box{
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                //border: 1px solid black;
                padding: 1rem;
                margin: 1rem;
              }
            }
    
            #paymentChoice{
              display: flex;
              align-items:center;
              justify-content: center;
              flex-direction: column;
              border: 1px solid black;
              border-radius: 20px;
            }  
    
              .cardNumber{
                width: 8rem;
                margin: 0.5rem;
              }
    
              .monthCvcDiv{
              display: flex;
              align-items:center;
              justify-content: center;
              }
              .monthCvc{
                width: 3rem;
                margin: 1rem;
              }
              
}
    
    
    
/* style för desktop */
@media (min-width: 885px ){
  .checkOut{
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      //background-color: #222;
      
        &--container{
          height: 30rem;
          width: 40rem;
          display: flex;
          border: 1px solid black;
        }
  }
    .shippingInformation{
            height: 100%;
            width: 50%;
            border-right: 1px solid black;
    
            display: flex;
            align-items: center;
            //justify-content: center;
            flex-direction: column;

        &--supplier{
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              margin: 1rem;
              padding: 1rem;
              /* width: 10rem;
              height: 5rem; */
              border: 1px solid black;
              border-radius: 20px;
      
              button{
                width: 1rem;
                height: 1rem;
              }
        }
    }

            .accountInformation{
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              margin: 1rem;
              padding: 1rem;
              //width: 10rem;
              //height: 5rem;
              border: 1px solid black;
              border-radius: 20px;

              &--inputAcount{
                width: 10rem;
                border: 1px solid black;
                margin: 0.5rem;
              }
            }



              .payMethod{
                display: flex;

                &--box{
                  width: 50%;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  //border: 1px solid black;
                  padding: 1rem;
                  //margin: 1rem;
                }
              }
              
      
              #paymentChoice{
                display: flex;
                align-items:center;
                justify-content: center;
                flex-direction: column;
                border: 1px solid black;
                border-radius: 20px;
              } 
      
                .cardNumber{
                  width: 8rem;
                  margin: 0.5rem;
                }
      
                .monthCvcDiv{
                display: flex;
                align-items:center;
                justify-content: center;
                }

                .monthCvc{
                  width: 3rem;
                  margin: 1rem;
                }
                
          .orderSummary{
            width: 50%;
            height: 100%;
            background-color: white;
    
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
        
    
      #orderSummaryContainer{
        height: 20rem;
        overflow: auto;
        margin-top: 10px;

        &--footer{
          width: 100%;
          padding: 1rem;
          border-top: 1px solid black;
          display: flex;
          justify-content: end;
          align-items: end;
          flex-direction: column;
          
        }
      }  

    .checkOut--imgContainer {
      height: 3rem;
      width: 3rem;
      border: 1px solid black;
      padding: 10px;
    
      .checkOut--img {
          height: 100%;
          width: 100%;
          object-fit: scale-down;
      }
    }

    .checkOut--productBox{
      display: flex;
      width: 100%;
      padding: 1rem;
    
      .checkOut--title {
       padding: 10px;
        font-size: 15px;
      }
    
      .checkOut--price {
        font-size: 15px;
        margin: 10px 0;
      }

      
    }

}
.purchaseBtn {
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 5px;
}

  .header--nav {
    cursor: pointer;
  }

  .checkOut--qty{
    display: flex;
    gap: 0.5rem;

    .checkOut--plusBtn{
     color: white;
     background-color: #222;
      
    }
    .checkOut--minusBtn {
      color: white;
      background-color: #222;

    }

    .checkOut--removeBtn {
      cursor: pointer;
      font-size: large;
    }
  }