@use "reset";
@use "mixins";
@use "variables" as v;

/* styling för nav bar */
.header{
  height: 10vh;
  display: flex;

  &--nav {
    @include mixins.flex;
    width: 90%;
    margin-left: 1rem;
   
    ul{
        list-style: none;
        display: flex;
        gap: 1rem;
        
        a{
          text-decoration: none;
          cursor: v.$click;

          &:hover{
            text-decoration: underline;
          }
        }
      }
  }
  
  &--cartIcon {
    width: 10%;
    @include mixins.flex-justify;
  }

  &--searchInput {
    @include mixins.flex;
    margin-top:25px;
  }
}

#searchInput {
  border: none;
  border-bottom: 2px solid v.$border-colour;
  padding: 5px;
  margin-bottom: 15px; 
  font-size: v.$small-text; 
  outline: none;
}

/* styling för landningssida */

.main {
    height: 100vh;
    @include mixins.flex-justify;
  

    &--text{
        color:white;
        font-size: 120px;
        position: absolute;
    }

    &--pW{
      transition: 0.3s;
    }
    &--pM{
      transition: 0.3s;
    }

    &--imgContainerW {
      @include mixins.heroImg;
      background-image: url("./src/img/woman-runway.png");
      
      &:hover{
        .main--pW{
          @include mixins.hoverHero;
        }
      }
    }
  
    &--imgContainerM {
        @include mixins.heroImg;
        background-image: url("./src/img/man-runway.png");
      
        &:hover{
          .main--pM{
            @include mixins.hoverHero;
          }
      }  
 }
}

/* styling för produktsida */
#productsWContainer {
  @include mixins.productsContainer;
}

#productsMContainer {
  @include mixins.productsContainer;
}

.productBox {
  @include mixins.flex-justify;
  flex-direction: column;
  //justify-content: stretch;
  margin-bottom: 20px;

  &:hover{
    opacity: 50%;
    .productBox--btn{
      display: block;
      opacity: 100%;
    }
  }

  &--img{
    height: 450px;
    width: 100%;
    border: 1px solid v.$border-colour;
    padding: 1.5rem;
  }

  &--title{
    align-self: flex-start;
    margin-top: 1rem;
    font-size: v.$small-text;
  }

  &--price{
    align-self: flex-start;
    margin-top: 10px;
    font-size: 18px;
    
  }

  &--btn{
    position: absolute;
    display: none;
    cursor: v.$click;
    padding: 0.5rem;
    border-radius: 20px;
    border: 1px solid v.$border-colour;
  
    &:hover{
      background-color: v.$border-colour;
      color: white;
    }
  }
}

.pageTitle {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 2rem;
  margin-left: 1rem;

  &--h1 {
    font-size: 40px;
  }

  &--p {
    font-size: v.$small-text;
    padding-right: 15rem;
    margin-top: 10px;
    margin-bottom: 20px;
  }
} 
